*{
    padding: 2px;
    margin: 5px;
    background-color: rgb(235, 226, 226);
}
#div1{
    height: 100%;
    width:70%;
    /* display: flex; */
    /* align-self:center; */
    justify-content: center;
     margin-top: 1px;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 40%; 
    align-items: center;
    background-color: white;
}

#pic1{
    margin-top: 20px;
    height: 40%;
    width:60%;
     align-items: center;
     text-align: center;
     margin-left: 80px;
}
#TN1{
     
    margin-left: 80px;
    background-color: white;
    
}
#p1, #p2{
    margin-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: large;
     background-color: white;
     text-align: center;
     
     
}
a{
    
    display: inline-block;
    cursor: pointer;

    text-decoration: none;

    padding: 10px 15px;

    border: 1.5px solid #262626;
    background-color: aquamarine;
    margin-left: 40%;
   

    margin-top: 8px;

    font-size: 18px;

    transition: .5s;
    
}
 a:hover{
    background: #e91e63;

    color: #fff;

    border-color: #e91e63;
     
}
#t1{

    margin-top: 10px;
    color:green;
    background-color: white;
    text-align: center;
}